//- index.pug
extends ../_includes/_layout.pug

block variables
  - var score = "AAA";
  - var ratio = "19.56";
  - var fgColor = "#000000";
  - var bgColor = "#ffff00";
  - var contrastCard = "https://mds-assets.s3.us-east-1.amazonaws.com/contrast/contrast-check-card.png";

block body
  body.contrast-page-interior.contrast-page-score
    block score-card
      include ../_includes/_score-card.pug
      .contrast-score-desc
        p This text passes the highest tier of contrast accessibility. Scores between 7–21 receive <strong>AAA</strong>. This score is valid for all font sizes. For more information, read the <a href="/guide">Contrast Guide</a>.</a>
        include ../_includes/_badge.pug

    block analytics
      include ../_includes/_analytics.pug



